@page
@model ArtModel
@{

    ViewData["Title"] = "Pages/Art";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="text-center">
    @*<img src="./logo.png" width="128" height="128">*@
    <h1 class="display-4">Art </h1>



    <img src="~/images/painting_01.jpg" alt="art" style="width:300px;height:300px;">

    <img src="~/images/painting_02.jpg" alt="art" style="width:300px;height:300px;">

    <img src="~/images/painting_03.jpg" alt="art" style="width:300px;height:300px;">

</div>
