@page
@model EventsModel
@{
    ViewData["Title"] = "Events";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="text-center">
    @*<img src="./logo.png" width="128" height="128">*@
    <h1 class="display-4">Events </h1>


</div>
