@page
@model MapModel
@{
    ViewData["Title"] = "Map";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="text-center">
    @*<img src="./logo.png" width="128" height="128">*@
    
    <img src="~/images/FloorPlan.jpg" alt="map" style="width:350px;">


</div>
