@page
@model NewsModel
@{
    ViewData["Title"] = "News";
}
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<div class="text-center">
    @*<img src="./logo.png" width="128" height="128">*@


    <h1 class="display-4">News </h1>

    <div class="Paragraph_01">
        <br />
        <h3>
            27 February 2019
        </h3>

        <p>
            From 1 March, the colossal works of David Hockney will be on display
            in the Netherlands. For the first time, this spectacular exhibition
            offers an extensive and colourful exploration of the common ground
            between the work of Vincent van Gogh and David Hockney.
            The exhibition 'Hockney - Van Gogh: The Joy of Natu
        </p>
    </div>
    <div class="Paragraph_02">
        <br />
        <h3>
            24 January 2019
        </h3>

        <b>
            Detailed international research underscores fragile condition of famous painting.
        </b>

        <p>
            Research conducted at the Van Gogh Museum into Vincent van Gogh’s famous
            Sunflowers has produced a great deal of new information regarding the
            condition of the painting and the materials that Van Gogh used.
            One of the conclusions is that the painting is stable, but fragile.
            Axel Rüger, Director of the Van Gogh Museum:
            ‘This is why we have decided that Sunflowers will no longer travel away
            from the museum. From now on, this highlight of our collection will
            stay at home in Amsterdam, available for all of our visitors to see
            every day of the year’.
        </p>
    </div>
    <div class="Paragraph_03">
        <br />
        <h3>
            29 November 2018
        </h3>

        <b>
            A photograph that was long thought to be of the 13-year-old Vincent van Gogh has now been proven to be a portrait of his brother 
            Theo van Gogh, aged 15.
            </b>

            <p>
                This is the conclusion after new, in-depth research conducted by 
                the Van Gogh Museum and Yves Vasseur (General Commissioner of 
                Mons 2015 European Capital of Culture). 
                Forensic examination has confirmed the misidentification.
            </p>
</div>





</div>
